extends base.pug
block style
    style
        include ../static/styleservices.css
block content
    section#services
        h1 Our Services
        div#container
            div.box
                img(src="../static/delivery.png", alt="")
                h2 Home Delivery
                p.content We can deliver your car at your home,where ever your home is in india.you have to just buy from our any neraest showroom and to pay a very nominal fees for that services
            div.box
                img(src="../static/repair.png", alt="")
                h2 Car Servicing
                p.content You can service your car at our nearest center or you can book your slot from our nearest center's call no and we will service your car with a very nominal cost.you shall also have a free car servicing within 1 year of buying from us
            div.box
                img(src="../static/drive.png", alt="")
                h2 Certified Drivers
                p.content We are having some awesome certified well trained drivers for you.You can hier drivers for your car and you can pay and book yours in advance from your nearest car center